/*************************header section*****************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(img/WhatsApp\ Image\ 2022-10-05\ at\ 12.25.33\ PM.jpeg);    
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}
.logo {
    font-size: 40px;
    font-family: 'rochester', 'Cursive';
    color: #fff;
}
.nav-bar{
    list-style-type: none;
    padding-top: 10px;
}
.nav-bar li{
    display: inline-block;
    color: #fff;
    font-family: 'oswald', Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    transition: all .3s ease-in-out;
}
.middle{
    text-align: center;
}
header .title1{
    text-align: center;
    color: #f2ac32;
    font-family: 'rochester', 'cursive';
    font-size: 44px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.title2{
    color: #fff;
    font-family: 'oswald', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
header .cta-button{
    text-align: center;
    font-family: 'oswald', Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    padding: 10px 20px;
    background: #dd961b;
    font-weight: 300px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.nav-bar .cart{
    font-size: 20px;
    padding-left: 5px;
}
.nav-bar .search{
    font-size: 25px;
    padding-left: 5px;
}
nav .nav-bar .welcome a{
    color: #e4a343;
    transition: all .3s ease-in-out;
}
nav .nav-bar .welcome a:hover{
    color: #fff;
}
header .cta-button:hover{
    color: #fff9;
    background-color: #4b3001;
}
.nav-bar a:hover{
    color: #fff9;
}
.check-btn{
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 80px;
    margin-right: -15px;
    cursor: pointer;
    display: none;
    margin-top: -20px;  
}
.check-btn:hover{
    color: #dd961b;
}
#check{
    display: none;
}




/************************discover section*****************************/

.border-section{
    display: flex;
    padding: 100px;
    justify-content: center;
    background-color: rgb(204, 203, 203);
}
.border-section .food-item{
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 0 20px;    
}

.border-section .food-0 .discover{
    color: #ee9b0c;
    font-family: 'rochester', 'cursive';
    margin-bottom: 15px;
    letter-spacing: 1px;
    margin-top: 30%;
}
.border-section .food-0 .our-story{
    color: rgba(34, 31, 31, 0.6);
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
}
.border-section .food-0 .reputation{
    color: #110f0f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
    letter-spacing: .5px;
    margin-left: 5px;
    margin-right: 5px;
}
.border-section .food-0 .about-us{
    color: #dd961b;
    font-family: 'Trebuchet MS';
}
.border-section .food-0 .about-us:hover{
    color: #3f3a3a;
}

.border-section .food-0{
    border: 2px solid #dd961b;
    position: relative;
}
.border-section .food-0 .layout{
    position: absolute;
    top: 10px; right: 20px;
    background-color: #fff;
    width: 100%;
    height: 100%;
}


.border-section .food-1{
    background-image: url(img/food3.jpeg);
    background-size: cover;
    margin-top: -30px;
}
.border-section .food-2{
    background-image: url(img/food2.jpeg);
    background-size: cover;
}

/************************service section*****************************/

.service-section{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url(img/bachground.jpeg);    
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.service-section .middle .middle-title1{
    color: #e4a343;
    font-size: 40px;
    font-family: 'rochester', 'cursive';
    margin-bottom: 20px;
    padding-top: 70px;
}
.service-section .middle .middle-title2{
    color: #fff9;
    font-size: 40px;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-image1,
.row-image2,
.row-image3{
    width: 100%;
    height: 150px;
    position: relative;
   
}
.row-image{
    padding: 0 15px;
    width: 250px;   
}

.row-image1{
    background-image: url(img/breakfast.jpeg);
    background-size: cover;
    
}
.row-image2{
    background-image: url(img/lunch.jpeg);
    background-size: cover;
}
.row-image3{
    background-image: url(img/dinner.jpeg);
    background-size: cover;
}
.row-image1:hover .speciality-overlay,
.row-image2:hover .speciality-overlay,
.row-image3:hover .speciality-overlay{
    opacity: 1;
}
.row-image .service{
    color: #fff;
    letter-spacing: 2px;
    padding-top: 10px;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.speciality-overlay{
    position: absolute;
    background-color: rgba(243, 178, 66, 0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.speciality-overlay-border{
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
}
.speciality-overlay-border a{
    color: #fff;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/************************today-special-section*****************************/

.today-special-section{
    padding: 50px 50px 100px 50px;
    text-align: center;
}
.today-special-section{
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.today-special-main .today{
    color: #eca529;
    font-size: 40px;
    font-family: 'rochester', 'Trebuchet MS';
    text-align: center;
    margin-bottom: 20px;
}
.section01,
.section02{
    display: flex;
}
.dessert-section{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.today-special-main .special-menu{
    color: rgba(22, 20, 20, 0.795);
    font-size: 40px;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}


.dessert-section-content{
    color: #fff;
    background-color: #f2ac32;
    width: 50%;
    height: 450px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
.fa-ice-cream{
    font-size: 25px;
    padding: 80px 10px 20px 10px;
}
.dessert{
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 1px 10px 5px 10px;
    color: #181717;
}
.dessert-name{
    font-family: 'rochester', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 1px 10px 20px 10px;
}
.dessert-para{
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 1px 10px 30px 10px;
}
.more-info01{
    color: #fff;
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 2px;
}
.more-info01:hover,
.more-info:hover{
    color: #2c3e50;
}

.dessert-section-image{
    width: 50%;
    height: 450px;
    background-image: url(img/dessert5.jpeg);
    background-size: cover;
    background-position: center;
}
.italian-food-section{
    width: 50%;
}
.italian-food-section-01{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;   
}
.fa-pizza-slice{
    font-size: 20px;
    padding: 30px 10px 20px 10px;
}
.pizza{
    color: #c2800e;
    letter-spacing: 1px;
    font-family: 'rochester', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pizza-content{
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.more-info{
    color: #d88d0d;
    letter-spacing: 1px;
    font-family: 'rochester', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.italian-food-section-content{
    width: 50%;
    height: 225px;
    background-color: #fff;
}

.italian-food-section-image1{
    background-image: url(img/pizza3.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 225px;
}
.fa-burger{
    font-size: 20px;
    padding: 30px 10px 20px 10px;
}
.burger{
    color: #c2800e;
    letter-spacing: 1px;
    font-family: 'rochester', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.burger-content{
    font-family: 'oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.italian-food-section02{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.italian-food-section-image2{
    background-image: url(img/burger.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 225px;
}

.italian-food-section2-content{
    width: 50%;
    height: 225px;
    background-color: #fff;
    text-align: center;
    align-content: center;
}
.seperator{
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto; 
}
.seperator02{
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #e69812;
    margin: 15px auto; 
}
.American-food-section-image1{
    background-image: url(img/dish2.jpeg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 225px;
}
.American-food-section-image2{
    background-image: url(img/dish5.jpeg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 225px;
}

.last-food-section{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}
.last-food-section-content{
    color: #fff;
    background-color: #f2ac32;
    width: 50%;
    height: 450px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.last-section-image{
    background-image: url(img/dish1.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 450px;
}
.fa-utensils{
    font-size: 20px;
    padding: 30px 10px 20px 10px;
}
.fa-pepper-hot{
    font-size: 25px;
    padding: 80px 10px 20px 10px;
}

/************************footer-section*****************************/

footer{
    padding: 50px 0 10px 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url(img/footer3.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer-info{
    margin: 20px 50px;
}
.footer-title{
    font-family: 'oswald', 'cursive';
    color: #f2ac32;
    margin-bottom: 30px;
}
.footer-text{
    font-family: 'oswald', 'cursive';
    margin-bottom: 10px;
    font-size: 15px;
}
.footer-email{
    font-family: 'oswald', 'cursive';
    height: 25px;
    width: 150px;
    margin-bottom: 10px;
}
.footer-submit{
    font-family: 'oswald','cursive';
    color: #fff;
    background-color: #ee9b0c;
    width: 100px;
    height: 25px;
    cursor: pointer;
}
.copyright{
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'oswald', 'cursive';
    border-top: 1px solid #cac0c0;
    justify-content: center;
}
.raw{
    color: #e69812!important;
    padding-left: 10px;
}







@media (max-width:768px){
    
    .logo{
        margin-bottom: 10px;
        font-size: 30px;
        margin-left: -15px;
    }
    nav{
     display: flex;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    .nav-bar li{
        margin-top: 5px;
        padding: 5px 0;
    }
    
    .middle{
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .middle .title1{
        font-size: 30px;
    }
    .middle .title2{
        font-size: 35px;
        padding: 0 20px;
    }
    .middle .cta-button{
        font-size: 20px;
    }
    .check-btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 500px;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
        background: linear-gradient(#2c3e50, #534b3d);
    }
    nav ul li{
        display: block;
    }
    nav ul li a:hover,a.active{
        background: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .border-section{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .border-section .food-0{
        margin-bottom: 100px;       
    }
    .border-section .food-1{
        margin-bottom: 80px;
    }
    .service-section{
        height: 850px;
        margin-top: -10px;
    }
    .service-section .middle .middle-title1{
        font-size: 30px;        
    }
    .service-section .middle .middle-title2{
        font-size: 40px;
        margin-bottom: 45px;
    }
    .row{
        display: flex;
        flex-flow: column;
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service{
        padding-bottom: 30px;
    }
    .today-special-main .today{
        font-size: 30px;
    }
    .today-special-main .special-menu{
        font-size: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .section01,
    .section02{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .dessert-section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .dessert-section-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
    }
    .fa-ice-cream{
        padding-top: 0;
    }
    .dessert-section-image{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
    }
    .italian-food-section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .italian-food-section-content,
    .italian-food-section2-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        border: 2px solid rgba(26, 21, 21, 0.067);
    }
    .italian-food-section-image1,
    .italian-food-section-image2,
    .American-food-section-image1,
    .American-food-section-image2{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
    }
    .section01 .italian-food-section02{
        flex-direction: column-reverse;
    }
    
    .section02 .italian-food-section-01{
        flex-direction: column-reverse;
    }

    
    .last-food-section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .last-food-section-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
    }
    .fa-pepper-hot{
        padding-top: 0;
    }
    .last-section-image{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
    }
   
}

